@font-face {
    font-family: 'NarutoFont';
    src: url('../njnaruto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    font-family: 'NarutoFont', sans-serif;
}

.align-items-stretch {
    margin: 20px;
}

.beastName {
    font-weight: bold; 
    font-size: 30px;
}

.cardInfoDetails {
    padding: 20px; 
    margin: 0;
}

.cardInfoDetails hr {
    border: none;
    border-bottom: 2px solid black;
}

.d-flex {
    display: flex;
    align-items: stretch;
}

img {
    height: 290px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.infoBeastContainer {
    font-weight: bold; 
    padding: 10px; 
    margin: 0;
}

.navbarBrand {
    font-size: 40px; 
    font-family: 'NarutoFont', sans-serif;
    color: #000000;
}

.tailedBeastCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: Verdana, sans-serif;
    flex: 1 1 30%;
    margin: 15px;
    box-sizing: border-box;
    border: 2px dashed black;
}

.tailedBeastCard:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.tailedBeastContainer {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-family: 'NarutoFont', sans-serif; 
    font-size: 48px;
}

@media (max-width: 768px) {
    .tailed-beast-card {
        flex: 1 1 100%;
    }
    .cardInfoDetails {
        font-size: 4vw;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .tailed-beast-card {
        flex: 1 1 45%;
    }
    .cardInfoDetails {
        font-size: 3vw;
    }
}

@media (min-width: 1201px) {
    .tailed-beast-card {
        flex: 1 1 30%;
    }
    .cardInfoDetails {
        font-size: 1vw;
    }
}