@font-face {
    font-family: "TheFont";
    src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2")
        format("woff2");
}

:root {
    --primaryFont: "Manrope", sans-serif;
    --headingFont: "TheFont", sans-serif;
    --subheadingFont: "Arial", sans-serif;
    --primaryColor: #01463c;
    --secondaryColor: #cee8d0;
    --bgColor: #fff5ee;
    --text-color-light: #fffefe;
    --text-color-dark: #141414;
}

body {
    font-family: var(--primaryFont);    
}

::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color-dark);
}

.heading {
    font-family: var(--primaryFont);
    font-size: clamp(1rem, 2.6rem, 3.2rem);
    font-size: 2.6rem;
    font-weight: bolder;
    color: var(--primaryColor);
}

.subheading {
    font-family: var(--primaryFont);
    font-size: clamp(1rem, 1.4rem, 1.8rem);
    font-size: 1.4rem;
    font-weight: bolder;
}

.btn-primary {
    font-family: var(--subheadingFont);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--primaryColor);
    border-radius: 5px;
    background-color: transparent;
    color: var(--primaryColor);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primaryColor);
    color: var(--bgColor);
}

.btn-secondary {
    font-family: var(--subheadingFont);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background-color: var(--primaryColor);
    border-radius: 5px;
    color: var(--text-color-light);
    text-decoration: none;
    transition: all 0.1s ease;
}

.btn-secondary:hover {
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    background-color: var(--bgColor);

}

.nav-link.active {
  color: var(--primaryColor) !important;
  font-weight: bold;
}

.card {
    border-radius: 12px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

.skill-logo {
    width: 80px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    filter: grayscale(40%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-logo:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

@media (max-width: 575.98px) {
body {
    font-size: 0.9rem;
}
.heading {
    font-size: 1.7rem;
}
.subheading {
    font-size: 1.2rem;
}
.btn-primary,
.btn-secondary {
    font-size: 0.8rem;
}
}