html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    background-color: #FFF5EE;
}

@font-face {
    font-family: 'TheFont';
    src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2") format('woff2');
}

#body.dark-mode {
    background-color: #2F2F2F;
    color: #EDFFCD;
}

#body.dark-mode .navbar {
    background-color: #2F2F2F;
}

#body.dark-mode .nav-link {
    color: #EDFFCD;
}

#body.dark-mode .breatheAnimation span {
    color: #C3EDAA; 
}

#body.dark-mode .introInfo {
    color: #EDFFCD; 
}

#body.dark-mode .aboutTitle {
    color: #C3EDAA; 
}

#body.dark-mode .aboutInfo {
    border: 2px solid #C3EDAA; 
    color: #EDFFCD; 
}

#body.dark-mode .skillsTitle {
    color: #C3EDAA; 
}

#body.dark-mode .projectTitle {
    color: #C3EDAA; 
}

.breatheAnimation span {
    font-family: 'TheFont';
    font-size: clamp(7vw, 13vw, 15vh);
    color: #01463C;
    animation: letter-breathe 3s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes letter-breathe {
    from,
    to {
        font-variation-settings: 'wght' 100;
    }

    40% {
        font-variation-settings: 'wght' 700;
    }
}

.aboutPic {
    height: auto;
    width: 100%;
    margin-top: 8px;
    border-radius: 20px;
    display: block;
}

.introInfo {
    font-family: "Roboto Mono", serif;
    font-size: 1.5rem;
    font-style: normal;
    color: #4E7567;
}

.aboutContainer {
    padding-left: 40px;
    padding-right: 40px;
}

.aboutTitle {
    font-size: 48px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 12px;
    color: #01463C;
}

.aboutInfo {
    font-family: "Roboto Mono", serif;
    font-size: 1.5rem;
    font-style: normal;
    margin: 0px;
    border: 2px solid #01463C; 
    padding: 20px;            
    border-radius: 15px;      
    color: #4E7567;
}

.skillsTitle {
    text-align: center;
    margin-top: 40px;
    color: #01463C;
}

.categoryContainer {
    background-color: #99AFA7;  
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Roboto Mono", serif;
}

.categoryTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #01463C; 
    margin-bottom: 20px;
}

.creativeSkillsGallery {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.creativeSkillsLogo img {
    width: 80px; 
    height: auto;
    filter: grayscale(40%); 
    transition: transform 0.3s ease, filter 0.3s ease;
}

.creativeSkillsLogo img:hover {
    transform: scale(1.1);  
    filter: grayscale(0%);
}

.projectTitle {
    color: #01463C;
}

.projectRow {
    background-color: #99AFA7;
    border-radius: 12px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.projectImage img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.contentText {
    padding: 30px;
}

h2 {
    color: #01463C;
    margin-bottom: 10px;
}

p {
    color: #4E7567;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: "Roboto Mono", serif;
}

.exploreButton {
    border: 2px solid #01463C;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #01463C;
}

.exploreButton:hover {
    background-color: #01463C;
    color: #FFF5EE;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials li {
    margin: 0 10px;
}

.text-caps-small {
    color: #615d59;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;
}

.text-caps-small i {
    font-size: 24px;
}

.text-caps-small:hover {
    color: #01463C;
}

.footerCopyright {
    color: #01463C;
    font-family: Rubik, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    background-color: #CEE8D0;
}

.container-fluid {
    width: 100%;
    padding: 0;
}

.footerContent {
    margin-bottom: 10px;
}

.footerTitle {
    font-size: 18px;
    color: #01463C;
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
        letter-spacing: 3px;
    }
}

@media (max-width: 480px) {
    .introInfo {
        text-align: center;
        font-size: 1.25rem;
    }
    .aboutContainer {
        padding-left: 12px;
        padding-right: 12px; 
    }
    .aboutInfo {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 35px;
        letter-spacing: 2px;
    }
}