html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
    background: linear-gradient(to right, #FFF5EE, #99AFA7);
    font-family: "Manrope", sans-serif;
}

@font-face {
    font-family: 'TheFont';
    src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2") format('woff2');
}

.customNavbar {
    display: flex;
    width: 100%;
    padding: 15px 40px;
    background-color: transparent;
    color: #01463C; 
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.navItem {
    flex: 1; 
    text-align: left;
    text-decoration: none;
    color: #01463C;
}

.breatheContainer {
    text-align: center;
}

.rightText {
    text-align: right;
}

.breatheContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breatheAnimation span {
    font-family: 'TheFont';
    font-size: clamp(1vw, 3vw, 5vh);
    color: #01463C;
    text-align: center;
    animation: letter-breathe 3s ease-in-out infinite;
}

@keyframes letter-breathe {

    from,
    to {
        font-variation-settings: 'wght' 100;
    }

    40% {
        font-variation-settings: 'wght' 900;
    }
}

.page-container {
    display: flex;
    width: 100%;
    position: relative;
}

.projects-list {
    width: 30%;  
    position: fixed; 
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    padding: 20px;
    border-radius: 12px;
}

.projects-list ul {
    list-style-type: none;
    padding: 0;
}

.projects-list li {
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: transparent;
    color: #01463C;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.projects-list li:hover,
.projects-list li.active-title {
    color: #8163cd;
    background-color: rgba(225, 126, 227, 0.2);
}

.project-info {
    width: 60%;
    background: linear-gradient(to right, #d1c9e8, #99AFA7);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
    margin-left: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-info img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-content {
    display: none;
    opacity: 0;
}

.info-content.active {
    display: block;
    animation: fadeUp 0.8s ease-out forwards; 
}

.info-content h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: bolder;
}

.project-number {
    font-size: 0.8em;   
    color: #01463C;     
    margin-left: 10px;  
    font-weight: bold;  
}

.links {
    gap: 10px;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    background: transparent;
    color: #01463C;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #01463C; 
    margin-bottom: 10px;
}

.links a:hover {
    background: #01463C;
    color: #d1c9e8;
}

@media (max-width: 768px) {
    .page-container {
        display: block; 
    }

    .projects-list {
        width: 100%;
        position: relative; 
        left: 0;
        top: 0;
        transform: none; 
        text-align: center;
        margin-bottom: 20px; 
    }

    .projects-list ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
        justify-content: center; 
    }

    .project-info {
        width: 100%;
        margin-left: 0;
    }
}